.side-info {
  @include flex(center);
  align-items: flex-start;
  margin: 20px 0;
  &-list__item {
    width: 200px;
    padding: 15px;
    margin-bottom: 20px;
    &:last-child {
      margin-bottom: 0;
    }
    & h3 {
      margin-bottom: 8px;
    }
    & span {
      font-size: 14px;
    }
    &.btn-effect {
      @include btnEffect;
    }
  }
}

.stack-icons {
  @include flex(space-between);
  & .icon {
    width: 32px;
    height: 32px;
    border: 3px solid $secondary-color;
    border-radius: 50%;
    color: transparent;
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    &:first-child {
      background-image: url(../assets/HTML5_logo_and_wordmark.svg);
    }
    &:nth-child(2) {
      background-image: url(../assets/CSS3_logo_and_wordmark.svg);
    }
    &:nth-child(3) {
      background-image: url(../assets/Sass_Logo_Color.svg);
    }
    &:last-child {
      background-image: url(../assets/Unofficial_JavaScript_logo_2.svg);
    }
  }
}
