/* Font */
@import url(//spoqa.github.io/spoqa-han-sans/css/SpoqaHanSansNeo.css);

@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

ul,
ol,
li {
  list-style-type: none;
}

button {
  border: none;
  outline: none;
  background-color: transparent;
  font-family: inherit;
  color: inherit;
  cursor: pointer;

  &:active {
    @extend button;
  }
}

a {
  text-decoration: none;
  color: inherit;
}

/* Screen Reader Only */
.sr-only {
  position: absolute;
  top: -9999px;
  left: -9999px;
  z-index: -1;
  width: 1px;
  height: 1px;
  overflow: hidden;
  visibility: hidden;
}
