/* Font */
@import url(//spoqa.github.io/spoqa-han-sans/css/SpoqaHanSansNeo.css);

/* Reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

ul,
ol,
li {
  list-style-type: none;
}

button,
button:active {
  border: none;
  outline: none;
  background-color: transparent;
  font-family: inherit;
  color: inherit;
  cursor: pointer;
}

a {
  text-decoration: none;
  color: inherit;
}

/* Variables */
:root {
  --main-color: #f6f5e8;
  --sub-color: #f0efe1;
  --dark1: #6b6b65;
  --dark2: #494942;
  --dark3: #363631;
  --gap-10: 10px;
  --gap-20: 20px;
  --gap-30: 30px;
  --font-large: 18px;
  --font-regular: 14px;
  --font-small: 13px;
  --font-micro: 12px;
}

body {
  font-family: 'Spoqa Han Sans Neo', 'sans-serif';
}

/* Header */
header {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  height: 100vh;
  padding: var(--gap-10);
  background-image: url(./assets/Aesop_Gift_Kits_2020.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.header-logo {
  width: 110px;
  height: 35px;
}

.header-logo a {
  display: block;
  width: 100%;
  height: 100%;
  background-image: url(./assets/Aesop_logo.svg);
  background-repeat: no-repeat;
}

.header-text {
  text-align: center;
  margin-bottom: var(--gap-30);
  color: var(--main-color);
}

.header-text blockquote {
  font-weight: bold;
}

.header-text cite {
  font-size: var(--font-small);
}

/* Main */
main {
  background-color: var(--main-color);
}

section {
  max-width: 1000px;
  margin: 0 auto;
  padding-bottom: 40px;
}

.body-title {
  padding: var(--gap-20) var(--gap-10) var(--gap-10);
  font-weight: normal;
}

/* Nav */
.nav-bar {
  display: flex;
  overflow: auto;
  margin-bottom: var(--gap-30);
}

.nav-bar-list {
  display: flex;
  align-items: center;
  white-space: nowrap;
  overflow-x: auto;
}

.nav-bar-list li {
  padding: 5px 10px;
  font-size: var(--font-small);
  color: var(--dark1);
}

.nav-bar-list .active {
  border-bottom: 1.2px solid var(--dark1);
}

/* Body section */
.body-section-items {
  display: grid;
  gap: var(--gap-30);
}

.body-text {
  padding: 0 var(--gap-10);
}

.body-text h2 {
  margin-bottom: var(--gap-20);
}

.body-text p {
  font-size: var(--font-small);
}

.body-items {
  width: 100%;
}

.body-items-item {
  width: 100%;
  transition: background-color 0.35s;
}

.body-items-item:hover {
  background-color: var(--sub-color);
}

.body-items-item-chip {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  color: var(--dark2);
  padding-top: 40px;
}

.item-pic {
  width: auto;
  height: 200px;
  margin-bottom: var(--gap-10);
}

.item-title {
  font-size: var(--font-regular);
}

.item-info {
  font-size: var(--font-micro);
  color: var(--dark1);
  margin-bottom: var(--gap-20);
}

.item-detail {
  width: 80%;
  font-size: var(--font-micro);
  margin-bottom: var(--gap-20);
}

.item-detail div {
  padding: var(--gap-10) 5px;
}

.item-detail .use {
  border-bottom: 1px solid var(--dark3);
}

.item-detail div dt {
  margin-bottom: 5px;
}

.item-detail div dd {
  color: var(--dark1);
}

.item-add-card-btn {
  width: 100%;
  height: 40px;
  background-color: var(--dark3);
  color: #fff;
  font-size: var(--font-micro);
}

/* Media */

/* Landscape phone */
@media screen and (min-width: 576px) {
  .body-section-items {
    grid-template-columns: 1fr 1fr;
  }
}

/* tablet */
@media screen and (min-width: 768px) {
  .header-text blockquote {
    font-size: 30px;
  }

  .header-text cite {
    font-size: var(--font-regular);
  }

  .body-text {
    padding: 40px 20px;
  }

  .body-section-items {
    grid-template-columns: 230px auto;
  }
  .body-items {
    display: flex;
    flex-wrap: wrap;
  }
  .body-items-item {
    width: 50%;
  }
}

/* Desktop */
@media screen and (min-width: 992px) {
  .body-section-items {
    grid-template-columns: 300px auto;
  }

  .item-add-card-btn {
    opacity: 0;
    transition: opacity 0.35s;
  }

  .body-items-item:hover .item-add-card-btn {
    opacity: 1;
  }
}
