/* Font */
@import url(//spoqa.github.io/spoqa-han-sans/css/SpoqaHanSansNeo.css);

/* Reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

ul,
ol,
li {
  list-style-type: none;
}

button,
button:active {
  border: none;
  outline: none;
  background-color: transparent;
  font-family: inherit;
  color: inherit;
  cursor: pointer;
}

a {
  text-decoration: none;
  color: inherit;
}

/* Screen Reader Only */
.sr-only {
  position: absolute;
  top: -9999px;
  left: -9999px;
  z-index: -1;
  width: 1px;
  height: 1px;
  overflow: hidden;
  visibility: hidden;
}

body {
  font-family: 'Spoqa Han Sans Neo', 'sans-serif';
}

/* Header */
header {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  height: 100vh;
  padding: 10px;
  background-image: url(./assets/Aesop_Gift_Kits_2020.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.header-logo {
  width: 110px;
  height: 35px;
}

.header-logo a {
  display: block;
  width: 100%;
  height: 100%;
  background-image: url(./assets/Aesop_logo.svg);
  background-repeat: no-repeat;
}

.header-text {
  text-align: center;
  margin-bottom: 30px;
  color: #f6f5e8;
}

.header-text blockquote {
  font-weight: bold;
}

.header-text cite {
  font-size: 13px;
}

/* Main */
main {
  background-color: #f6f5e8;
}

section {
  max-width: 1000px;
  margin: 0 auto;
}

.body-title {
  padding: 20px 10px 10px;
  font-weight: normal;
}

/* Nav */
.nav-bar {
  display: flex;
  overflow: auto;
  margin-bottom: 30px;
}

.nav-bar-list {
  display: flex;
  align-items: center;
  white-space: nowrap;
  overflow-x: auto;
}

.nav-bar-list li {
  padding: 5px 10px;
  font-size: 13px;
  color: #6b6b65;
}

/* Body section */
.body-section-items {
  display: grid;
  gap: 30px;
}

.body-text {
  padding: 0 10px;
}

.body-text h2 {
  margin-bottom: 20px;
}

.body-text p {
  font-size: 13px;
}

.body-items {
  width: 100%;
}

.body-items-item {
  width: 100%;
  transition: background-color 0.35s;
}

.body-items-item:hover {
  background-color: #f0efe1;
}

.body-items-item-chip {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  color: #494942;
  padding-top: 40px;
}

.item-pic {
  width: auto;
  height: 200px;
  margin-bottom: 10px;
}

.item-title {
  font-size: 14px;
}

.item-info {
  font-size: 12px;
  color: #6b6b65;
  margin-bottom: 20px;
}

.item-detail {
  width: 80%;
  font-size: 12px;
  margin-bottom: 20px;
}

.item-detail div {
  padding: 10px 5px;
}

.item-detail .use {
  border-bottom: 1px solid #000;
}

.item-detail div dd {
  color: #6b6b65;
}

.item-add-card-btn {
  width: 100%;
  height: 40px;
  background-color: #000;
  color: #fff;
}

/* Landscape phone */
@media screen and (min-width: 576px) {
  .body-section-items {
    grid-template-columns: 1fr 1fr;
  }
}

/* tablet */
@media screen and (min-width: 768px) {
  .body-section-items {
    grid-template-columns: 300px auto;
  }
  .body-items {
    display: flex;
    flex-wrap: wrap;
  }
  .body-items-item {
    width: 50%;
  }
}

/* Desktop */
@media screen and (min-width: 992px) {
  .item-add-card-btn {
    opacity: 0;
    transition: opacity 0.35s;
  }

  .body-items-item:hover .item-add-card-btn {
    opacity: 1;
  }
}

/* Large Desktop */
@media screen and (min-width: 1200px) {
}
