/* Cards */
.cards {
  display: grid;
  grid-template-columns: auto;
  grid-auto-flow: row dense;
}

.front {
  width: 100%;
  height: 100%;
  order: 2;
}

/* Card item */
.cards-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  width: 100%;
  height: auto;
  padding: var(--padding);
  text-align: center;
  cursor: pointer;
}

.cards-item-main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  order: 2;
  margin: 4em auto;
}

.cards-item-main-pic {
  display: flex;
  justify-content: center;
  align-items: center;
  width: var(--chip-img-width);
  height: var(--chip-img-height);
  margin-bottom: 20px;
  overflow: hidden;
}

.cards-item-main-title {
  font-style: var(--italic);
  font-weight: 600;
  line-height: 1.3;
}

.cards-item-main-pic img {
  width: 100%;
  height: auto;
}

/* Card item sub */
.cards-item-sub {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  font-weight: 500;
  font-size: var(--font-size-micro);
  z-index: 2;
}

.cards-item-sub.top {
  order: 1;
}

.cards-item-sub.bottom {
  order: 3;
}

/* hover effect */
.back {
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  background-color: inherit;
  overflow: hidden;
  opacity: 0;
  transition: opacity 0.35s ease-in-out;
  z-index: 1;
}

.back img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.back p {
  font-size: var(--font-size-small);
  font-style: var(--italic);
  font-weight: 600;
  line-height: 1.3;
}

.cards-item:hover .back {
  opacity: 1;
}
