.color-chips {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.color-chips-item {
  position: relative;
  width: 18px;
  height: 18px;
  border-radius: 50%;
  cursor: pointer;
}

header .color-chips-item::after {
  content: '';
  opacity: 0;
  position: absolute;
  top: 20px;
  left: 50%;
  transform: translateX(-50%);
  text-transform: uppercase;
  font-size: var(--font-size-micro);
  font-weight: 600;
  letter-spacing: -0.03em;
  transition: all 0.25s ease-in-out;
}

header .color-chips-item:hover::after {
  opacity: 1;
}

.mood {
  background-color: var(--beige-light);
}

.mood-dark {
  background-color: var(--beige-dark);
}

header .mood::after {
  content: 'mood';
}

.beauty {
  background-color: var(--blue-light);
}

header .beauty::after {
  content: 'beauty';
}

.interior {
  background-color: var(--yellow-light);
}

header .interior::after {
  content: 'interior';
}

.animal {
  background-color: var(--cyan-light);
}

header .animal::after {
  content: 'animal';
}

.flower {
  background-color: var(--mlbb-light);
}

header .flower::after {
  content: 'flower';
}

.typography {
  background-color: var(--kaki-light);
}

header .typography::after {
  content: 'typo';
}

.travel {
  background-color: var(--orange-light);
}

header .travel::after {
  content: 'travel';
}
