/* Landscape phone */
@media screen and (min-width: 576px) {
  body {
    background-color: #ff5216;
  }
}

/* tablet */
@media screen and (min-width: 768px) {
  body {
    background-color: #ffc82c;
  }

  header {
    justify-items: center;
  }

  .color-chips {
    width: 90%;
    margin-left: -7em;
  }

  .color-chips-item::after {
    opacity: 1;
    top: 50%;
    left: 25px;
    transform: translateY(-50%);
  }
}

/* Desktop */
@media screen and (min-width: 992px) {
  body {
    background-color: #13ce66;
  }

  .color-chips {
    width: 80%;
  }

  .color-chips-item:hover::after {
    border-bottom: 2px solid var(--black);
  }
}

/* Large Desktop */
@media screen and (min-width: 1200px) {
  body {
    background-color: #1fb6ff;
  }
  .color-chips-item::after {
    font-size: var(--font-size-small);
  }
}

/* Super Large Desktop */
@media screen and (min-width: 1366px) {
  body {
    background-color: #7e5bef;
  }
}
