/* Font */
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,300;0,400;1,300&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Crimson+Text:wght@600&display=swap');

/* Reset */
@import './reset.css';
@import './variables.css';

/* Components */
@import './components/color_chips.css';
@import './components/cards_item.css';

/* media */
@import './media.css';

body {
  font-family: 'Poppins', sans-serif;
  color: var(--black);
  font-size: var(--font-size-regular);
}

.sr-only {
  position: absolute;
  top: -9999px;
  left: -9999px;
  z-index: -1;
  width: 1px;
  height: 1px;
  overflow: hidden;
  visibility: hidden;
}

/* Header */
.header {
  position: sticky;
  top: 0;
  left: 0;
  background-color: var(--white);
  display: grid;
  grid-template-columns: auto 1fr auto;
  grid-template-rows: 40px;
  grid-column-gap: 0.8em;
  padding: 0.35em 0.9em;
  z-index: 5;
}

.header-logo {
  font-family: 'Crimson Text', serif;
  text-transform: uppercase;
  font-size: 2rem;
  line-height: 1.45;
}

.header-search {
  height: 100%;
  color: var(--black);
}
