/* Font */
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,300;0,400;1,300&family=Roboto+Mono:wght@300&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Crimson+Text:wght@600&display=swap');

/* Reset */
@import './reset.css';
@import './variables.css';

/* Components */
@import './components/color_chips.css';

/* media */
@import './media.css';

/* font-family: 'Roboto Mono', monospace; */

body {
  font-family: 'Poppins', sans-serif;
  color: var(--black);
  font-size: var(--font-size-regular);
}

/* Header */
.header {
  display: grid;
  grid-template-columns: auto 1fr auto;
  grid-template-rows: 40px;
  grid-column-gap: 0.8em;
  padding: 0.35em 0.9em;
}

.header-logo {
  font-family: 'Crimson Text', serif;
  text-transform: uppercase;
  font-size: 2rem;
  line-height: 1.4;
}

.header-search {
  height: 100%;
  color: var(--black);
}
