/* Font */
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,300;0,400;1,300&family=Roboto+Mono:wght@300&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Crimson+Text:wght@600&display=swap');

/* Reset */
@import './reset.css';
@import './variables.css';

/* Components */
@import './components/color_chips.css';

/* media */
@import './media.css';

/* font-family: 'Roboto Mono', monospace; */

body {
  font-family: 'Poppins', sans-serif;
  color: var(--black);
  font-size: var(--font-size-regular);
}

/* Header */
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 50px;
  padding: 0.35em 0.9em;
}

.header-logo {
  height: 40px;
  font-family: 'Crimson Text', serif;
  text-transform: uppercase;
  font-size: 2rem;
  line-height: 1.4;
}

.header-search {
  height: 100%;
  color: var(--black);
}
