/* Font */
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,300;0,400;1,300&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Noto+Serif+KR:wght@600&display=swap');

/* Reset */
@import './reset.css';
@import './variables.css';

/* Components */
@import './components/color_chips.css';
@import './components/cards_item.css';

body {
  font-family: 'Poppins', sans-serif;
  color: var(--black);
  font-size: var(--font-size-regular);
}

.sr-only {
  position: absolute;
  top: -9999px;
  left: -9999px;
  z-index: -1;
  width: 1px;
  height: 1px;
  overflow: hidden;
  visibility: hidden;
}

/* Header */
.header {
  position: sticky;
  top: 0;
  left: 0;
  background-color: var(--white);
  /* display: grid;
  grid-template-columns: auto 1fr auto;
  grid-template-rows: 40px;
  gap: 0 0.8em; */
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: auto;
  padding: 10px 5px;
  z-index: 5;
}

.header-logo {
  font-family: 'Noto Serif KR', serif;
  font-weight: 600;
  text-transform: uppercase;
  font-size: 1.8rem;
}

.header-search {
  height: 30px;
  color: var(--black);
}

/* Media */
/* Landscape phone */
@media screen and (min-width: 576px) {
  .cards {
    grid-template-columns: repeat(2, 1fr);
  }
}

/* tablet */
@media screen and (min-width: 768px) {
  .color-chips {
    width: 70%;
    margin-left: -5em;
  }

  header .color-chips-item::after {
    opacity: 1;
    top: 50%;
    left: 25px;
    transform: translateY(-50%);
  }

  .cards {
    grid-template-columns: repeat(3, 1fr);
  }
}

/* Desktop */
@media screen and (min-width: 992px) {
  .color-chips {
    width: 80%;
  }

  header .color-chips-item:hover::after {
    border-bottom: 2px solid var(--black);
  }

  .cards {
    grid-template-columns: repeat(4, 1fr);
  }
}

/* Large Desktop */
@media screen and (min-width: 1200px) {
  .color-chips-item::after {
    font-size: var(--font-size-small);
  }
}

/* Super Large Desktop */
@media screen and (min-width: 1366px) {
  .cards {
    grid-template-columns: repeat(6, 1fr);
  }
}
