.section {
  text-align: center;
  padding: 60px 0;
  &-text {
    margin-bottom: $gap-20;
    &__title {
      font-family: "Playfair Display", serif;
      font-size: $font-large;
      margin-bottom: $gap-10;
    }
    &__sub {
      text-transform: uppercase;
      margin-bottom: 10px;
      color: $green-color;
    }
    &__desc {
      width: 300px;
      margin: $gap-20 auto 0;
      line-height: 1.5;
      font-size: $font-small;
      font-style: italic;
    }
  }
}

// Color
.about,
.subscribe {
  background-color: $primary-color;
}

.article,
.footer {
  background-color: $secondary-color;
}

// article
.article-post {
  padding: 0 $gap-10;
  &__item {
    position: relative;
    width: 100%;
    height: 400px;
    background-color: #fff;
    margin-bottom: $gap-10;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    box-shadow: 0px 5px 15px 0px var(--primary-color);
    cursor: pointer;
    &:first-child {
      background-image: url(../assets/vanessa-serpas-aZNA3iOanEs-unsplash.jpg);
    }
    &:nth-child(2) {
      background-image: url(../assets/frosty-ilze-IeLgjycwrgE-unsplash.jpg);
    }
    &:last-child {
      background-image: url(../assets/frosty-ilze-LlvfEJXGnc4-unsplash.jpg);
    }
  }
  &-text {
    position: absolute;
    left: 50%;
    bottom: 50px;
    transform: translateX(-50%);
    text-transform: uppercase;
    &__title {
      font-size: $font-regular;
      margin-bottom: $gap-10;
    }
    &__sub {
      font-size: $font-small;
      color: $green-color;
      margin-bottom: $gap-10;
    }
  }
}

// subscribe
.form {
  width: 70%;
  max-width: 400px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  margin: 0 auto;
  &-input {
    @include form;
    margin-bottom: $gap-20;
    &:focus {
      background-color: $secondary-color;
      color: $white-color;
      border: 2px solid $green-color;
    }
    &::placeholder {
      color: $white-color;
    }
  }
  &-btn {
    @include form;
    background-color: transparent;
    text-transform: uppercase;
    letter-spacing: 3px;
    transition: background-color 0.35s;
    &:hover,
    &:active {
      background-color: $secondary-color;
    }
  }
}
