// Color
$primary-color: #1d331f;
$secondary-color: #2f4d31;
$white-color: #fefefe;
$green-color: #7ea080;

// Font
$font-xlarge: 2.5rem;
$font-large: 2rem;
$font-regular: 1.2rem;
$font-small: 0.9rem;
$font-micro: 0.7rem;

// Gap
$gap-30: 30px;
$gap-20: 20px;
$gap-10: 10px;

.line {
  display: block;
  margin: 0 auto;
  width: 40px;
  height: 2px;
  background-color: $white-color;
}
